openapi: "3.1.0" 
info:
  title: "MWAP API"
  version: "1.0.0"
  description: "Full OpenAPI spec for the MWAP backend aligned with the domain model, contract, and architecture."
servers:
  - url: "https://api.mwap.dev/api/v1"
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ProjectRole:
      type: object
      properties:
        projectId: { type: string }
        role: 
          type: string
          enum: [OWNER, DEPUTY, MEMBER]
      required: [projectId, role]
    
    UserRolesResponse:
      type: object
      properties:
        userId: { type: string }
        isSuperAdmin: { type: boolean }
        isTenantOwner: { type: boolean }
        tenantId: 
          type: string
          nullable: true
        projectRoles:
          type: array
          items:
            $ref: '#/components/schemas/ProjectRole'
      required: [userId, isSuperAdmin, isTenantOwner, projectRoles]
    
    Tenant:
      type: object
      properties:
        _id: { type: string }
        ownerId: { type: string }
        name: { type: string }
        createdAt: { type: string, format: date-time }
        archived: { type: boolean }
        integrations:
          type: array
          items: { type: string }

    TenantCreate:
      type: object
      properties:
        name: { type: string }
      required: [name]

    TenantUpdate:
      type: object
      properties:
        name: { type: string }
        archived: { type: boolean }

    ProjectMember:
      type: object
      properties:
        userId: { type: string }
        role:
          type: string
          enum: [OWNER, DEPUTY, MEMBER]
      required: [userId, role]

    Project:
      type: object
      properties:
        _id: { type: string }
        tenantId: { type: string }
        projectTypeId: { type: string }
        cloudIntegrationId: { type: string }
        folderpath: { type: string }
        name: { type: string }
        description: { type: string }
        archived: { type: boolean }
        members:
          type: array
          items:
            $ref: '#/components/schemas/ProjectMember'

    ProjectCreate:
      type: object
      properties:
        tenantId: { type: string }
        projectTypeId: { type: string }
        cloudIntegrationId: { type: string }
        folderpath: { type: string }
        name: { type: string }
        description: { type: string }
        members:
          type: array
          items:
            $ref: '#/components/schemas/ProjectMember'
      required: [tenantId, projectTypeId, cloudIntegrationId, folderpath, name, members]

    ProjectUpdate:
      type: object
      properties:
        name: { type: string }
        description: { type: string }

paths:
  /users/me/roles:
    get:
      summary: Get current user's roles
      description: Returns the authenticated user's roles across the system, including super admin status, tenant ownership, and project roles.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRolesResponse'

  /tenants:
    post:
      summary: Create tenant
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /tenants/me:
    get:
      summary: Get current tenant
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /tenants/{id}:
    patch:
      summary: Update tenant
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
    delete:
      summary: Delete tenant
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content

  /projects:
    get:
      summary: List projects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      summary: Create project
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /projects/{id}:
    get:
      summary: Get project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    patch:
      summary: Update project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      summary: Delete project
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content

  /projects/{id}/members:
    get:
      summary: List project members
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectMember'
    post:
      summary: Add project member
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectMember'
      responses:
        '204':
          description: No Content

  /cloud-providers:
    get:
      summary: List cloud providers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

    post:
      summary: Create cloud provider
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /cloud-providers/{id}:
    patch:
      summary: Update cloud provider
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

    delete:
      summary: Delete cloud provider
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: No Content

  /tenants/{tenantId}/integrations:
    get:
      summary: List tenant integrations
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

    post:
      summary: Create tenant integration
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /tenants/{tenantId}/integrations/{integrationId}:
    delete:
      summary: Delete integration
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: No Content

  /tenants/{tenantId}/integrations/{integrationId}/refresh-token:
    post:
      summary: Refresh OAuth tokens for an integration
      description: Uses the stored refresh token to obtain new access and refresh tokens from the cloud provider
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
          description: Tenant ID
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
          description: Integration ID
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      _id: { type: string }
                      tenantId: { type: string }
                      providerId: { type: string }
                      status: { type: string, enum: [active, expired, revoked, error] }
                      tokenExpiresAt: { type: string, format: date-time }
                      accessToken: { type: string, example: "[REDACTED]" }
                      refreshToken: { type: string, example: "[REDACTED]" }
                      updatedAt: { type: string, format: date-time }
        '400':
          description: Integration does not have a refresh token
        '403':
          description: User is not the tenant owner
        '404':
          description: Integration or tenant not found
        '500':
          description: Token refresh failed with the provider

  /tenants/{tenantId}/integrations/{integrationId}/health:
    get:
      summary: Check the health status of an integration
      description: Tests the validity of the stored access token with the cloud provider
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
          description: Tenant ID
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
          description: Integration ID
      responses:
        '200':
          description: Health status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [healthy, expired, unauthorized, error]
                        description: Current health status of the integration
                      lastChecked:
                        type: string
                        format: date-time
                        description: Timestamp when the health check was performed
                      message:
                        type: string
                        description: Human-readable description of the status
                        example: "Token is valid and working"
        '403':
          description: User is not the tenant owner
        '404':
          description: Integration or tenant not found
        '500':
          description: Health check failed due to system error

  /project-types:
    get:
      summary: List project types
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

    post:
      summary: Create project type
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /project-types/{id}:
    patch:
      summary: Update project type
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

    delete:
      summary: Delete project type
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: No Content

  /projects/{id}/files:
    get:
      summary: List project files (virtual)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: folder
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /tenants:
    get:
      summary: List all tenants (superadmin only)
      description: Retrieves a list of all tenants. Requires superadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'

  /tenants/{id}:
    get:
      summary: Get tenant by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /tenants/{tenantId}/integrations/{integrationId}:
    get:
      summary: Get tenant integration by ID
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    patch:
      summary: Update tenant integration
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /cloud-providers/{id}:
    get:
      summary: Get cloud provider by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /project-types/{id}:
    get:
      summary: Get project type by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /projects/{id}/members/{userId}:
    patch:
      summary: Update project member role
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [OWNER, DEPUTY, MEMBER]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    delete:
      summary: Remove project member
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: No Content

  /oauth/callback:
    get:
      summary: OAuth callback endpoint (public)
      description: Endpoint called by external OAuth providers. Public, no JWT required.
      responses:
        '200':
          description: Callback processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /oauth/tenants/{tenantId}/integrations/{integrationId}/refresh:
    post:
      summary: Manually refresh integration tokens
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string }
        - name: integrationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema: { type: object }

  /openapi:
    get:
      summary: Get complete OpenAPI specification
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: format
          schema:
            type: string
            enum: [json, yaml]
            default: json
        - in: query
          name: includeExamples
          schema:
            type: boolean
            default: false
        - in: query
          name: minify
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OpenAPI specification
          content:
            application/json:
              schema:
                type: object
            application/x-yaml:
              schema:
                type: string

  /openapi/info:
    get:
      summary: Get OpenAPI information summary
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/validate:
    get:
      summary: Validate OpenAPI specification
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Validation successful
          content:
            application/json:
              schema:
                type: object

  /openapi/health:
    get:
      summary: OpenAPI service health check
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/cache/status:
    get:
      summary: Get OpenAPI cache status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/cache/invalidate:
    post:
      summary: Invalidate OpenAPI cache (admin only)
      description: Invalidates the OpenAPI cache; requires superadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cache invalidated
          content:
            application/json:
              schema:
                type: object

  /openapi/validation/history:
    get:
      summary: Get OpenAPI validation history
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/validation/ci-report:
    get:
      summary: Generate CI/CD validation report
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: format
          schema:
            type: string
            enum: [json, junit, text]
            default: text
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: string

  /openapi/validation/monitor:
    post:
      summary: Monitor OpenAPI validation
      security:
        - bearerAuth: []
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object

  /openapi/performance/metrics:
    get:
      summary: Get OpenAPI performance metrics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/performance/benchmark:
    post:
      summary: Run OpenAPI performance benchmarks
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                iterations:
                  type: integer
                  default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/performance/optimize-cache:
    post:
      summary: Optimize OpenAPI cache configuration
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/security/audit:
    post:
      summary: Perform OpenAPI security audit
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/security/sanitized:
    get:
      summary: Get sanitized OpenAPI specification
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /openapi/security/audit-log:
    get:
      summary: Get OpenAPI security audit log
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
